/* Page Settings*/
.page{ 
    width: 1000px;
    background-color: white;
    margin: auto;
    padding: 10px;
    padding-top: 10px;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: whitesmoke;
}

/* Border Line */
.hr3{ 
    border: 0; 
    height: 2px;
    background-image: linear-gradient(to right, transparent, rgb(221, 221, 221), transparent);
    padding-top: 5px;
}
/* ---------------------------------------------------------------------- */
/* Title Heading*/
h1{ 
    font-family:'Fira Sans';
    font-size: 45px;
    font-weight: bolder;
    text-align: center;
    margin: auto;
    width:100%;
    border: 1 px solid black;
    background-color:#034138 ;
    border: 4mm ridge rgba(247, 163, 85, 0.6);
}

h2{
    font-family: "Noto Sans Display";
    font-size: 20px;
    margin: auto;
    width:50%;
    text-align: center;
    background-color: aquamarine;
    border-style: inset;
    border-color: rebeccapurple;
}

body{
    background-color : rgb(176, 230, 185);
}

/* ---------------------------------------------------------------------- */
.pure-g{
    margin-bottom: 25px;
}

/* Div Container Size*/
.div_map{ 
    width: 100%;
}

/* Background for paragraph*/
#p1{
    background-color: bisque;
}

/* ---------------------------------------------------------------------- */
.description h2,h1 { 
    margin-top : 0 px;
}
.description-left{
    padding-right : 20px;
}

.description-right{
    padding-left : 20px;
}

/* ---------------------------------------------------------------------- */
/* Text Alignment in HTML */ 

.l-align { 
    text-align: left;
    border: 1px solid black;
}

.c-align {
    text-align: center; 
    margin:auto;
    width:50%;
    border: 1 px solid black; 
}

.r-align {
    text-align: right;
    border:1 px solid black; 
}

/* Setting Font Size*/
